 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dee5d8;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-center {
    text-align: center;
    margin-bottom: 10px;
}

.hotel-name {
    font-size: 34px;
    color: black;
    letter-spacing: 8px;
}

.hotel-subtitle {
    font-size: 25px;
    color: black;
}

.navbar-links {
    list-style: none;
    padding: 10px;
    display: flex;
    gap: 40px;
    font-size: 20px;
}

.navbar-links li {
    display: inline;
}

.navbar-links a {
    color: black;
}

.navbar-links a {
    color: black;
    text-decoration: none;
    padding: 0px 2px;
}

.navbar-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: black;
    transition: width .3s;
}

.navbar-links a:hover::after {
    width: 100%;
    transition: width .3s;
}
.container {
    display: grid;
    grid-template-columns: 1fr 430px;
    gap: 20px;
    padding: 20px;
}

.room-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.room-list h1 {
    padding-left: 2.7em;
    font-size: 40px;
    font-weight: 100;
}
.room-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
}

.room-item img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
}
.room-item h1 {
    font-size: 1.5em;
    margin: 10px 0;
}
.room-item button {
    color: black;
    border: 1px solid #082764;
    padding: 10px 20px;
    cursor: pointer;
    width: 20%;
    height: 45px;
    background: border-box;
}
.room-item button:hover{
    background-color: #1a2142;
    color: white;
}
.reservation-box {
    position: fixed;
    right: 4em;
    top: 12em;   
    width: 300px;
    background-color: #dee5d8;
    width: 25%;
    padding: 20px;
    border: 1px solid #082764;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: -999;
}
.reservation-box h2 {
    text-align: center;
    font-size: 29px;
    font-weight: 100;
    color: #082764;
}

.reservation-box label {
    display: block;
    margin: 10px 0 5px;
}

.reservation-box input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #082764;
    border-radius: 4px;
}
.reservation-box button {
    width: 45%;
    padding: 10px;
    background: #082764;
    color: white;
    border: 1px solid darkblue;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}
.reservation-box button:hover{
    background-color: #000526;
    color: white;
}
.content {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 20px;
    gap: 15px;
}
.content h2 {
    font-size: 15px;
    font-weight: 100;
}
.content h3{
    font-size: 25px;
    font-weight: 100;
}
.content p{
    font-size: 15px;
    font-weight: lighter;
    color: #555
} 
.carsten {
    background-color: #000526;
    height: 35px;
}

.carsten p {
    text-align: center;
    color: white;
    font-size: 19px;
    padding: 5px;
}

.footer {
    background-color: #1a2142;
    color: white;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 6em 0em;
}

.footer h3 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
}


.footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #989daf;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.footer-section {
    grid-column: span 1;
    display: flex;
    grid-column: span 1;
    flex-direction: column;
    gap: 15px;
}

.footer-bottom {
    font-size: 16px;
    font-weight: 500;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
    background-color:#000526;
}
.footer-bottom p {
    color: white;
}
.footer-logo {
    grid-column: span 1;
    margin: auto;
}
.payment-logos {
    display: flex;
    flex-direction: row;
}
.payment-logos img {
    width: 180px;
    margin: 0 5px;
    vertical-align: middle;
}



