* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fdf8f5;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-center {
    text-align: center;
    margin-bottom: 10px;
}

.ham-icon {
    display: none;
    border: none;
    background-color: transparent;
}

.ham-icon input[type="checkbox"] {
    appearance: none;
}

.hotel-name {
    font-size: 34px;
    color: black;
    letter-spacing: 8px;
}

.hotel-subtitle {
    font-size: 25px;
    color: black;
}

.navbar-links {
    list-style: none;
    padding: 10px;
    display: flex;
    gap: 40px;
    font-size: 20px;
}

.navbar-links li {
    display: inline;
}

.navbar-links a {
    color: black;
}

.navbar-links a {
    color: black;
    text-decoration: none;
    padding: 0px 2px;
}

.navbar-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: black;
    transition: width .3s;
}

.navbar-links a:hover::after {
    width: 100%;
    transition: width .3s;
}

.hero {
    display: grid;
    place-items: center;
}

.hero-image {
    max-width: 90%;
    height: auto;
    display: block;
}

.container {
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.container h1 {
    color: #c9a496;
    font-size: 80px;
    font-weight: lighter;
    letter-spacing: 2px;
}

.container p {
    font-size: 17px;
    color: black;
    font-weight: 500;
}

.reservation-form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    opacity: 0;
    animation: fadeIn 5s forwards;

}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input[type="date"],
.form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.circle-button {
    width: 115px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #c9a496;
    color: black;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    /* margin-top: 1.4em; */
}

.circle-button:hover {
    background-color: #926c5ed2;
}

@media (max-width: 600px) {
    .reservation-form {
        grid-template-columns: 1fr;
    }
}

.image-section {
    background-color: #f8ece7;
    padding: 20px;
    text-align: center;
    margin-top: 5em;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.image-wrapper img {
    width: 100%;
    height: auto;
}

.image-wrapper p {
    margin: 10px;
    width: 60%;
    font-size: 20px;
}

.image-1 {
    border-radius: 0%;
}

.image-2 {
    border-radius: 10%;
}

.image-3 {
    border-radius: 15%;
}

.image-4 {
    border-radius: 10%;
}

.image-5 {
    border-radius: 60px 70px 40px 140px;
}

.image-6 {
    border-radius: 0%;
}

.image-7 {
    border-radius: 10px 20px 30px 40px;
}

.image-8 {
    border-radius: 50% 30% 50% 10%;
}

.container2 {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.container2 h1 {
    color: black;
    font-size: 65px;
    font-weight: lighter;
}

.container2 p {
    font-size: 17px;
    color: black;
    font-weight: 500;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
}

.text-number {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
}

.text-number h1 {
    font-size: 32px;
    font-weight: 300;
    margin: 0;
}

h2.number {
    color: #c9a496;
    font-size: 5em;
    margin: 0;
    font-weight: 300;
    padding-right: 5px;
}

.slash {
    display: flex;
    flex-direction: row;
    font-size: 8em;
    margin: auto;
    color: #926c5ed2;
}

.image-grid-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    margin-top: 4em;
}

.image-container {
    text-align: center;
    position: relative;
}

.image-container h1 {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-caption {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.room-description {
    width: 55%;
    text-align: center;
    margin: 0 auto;
    font-size: 23px;
}

button {
    padding: 15px 16px;
    background-color: #926c5ed2;
    color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    width: 25%;
    text-align: center;
}
input:focus {
    outline: none;
}
.underline-transition {
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: border-bottom 0.3s ease;
}

.underline-transition::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.underline-transition:hover::after {
    border-bottom: 2px solid white;
}

.map {
    display: flex;
    align-items: center;
    padding: 40px;
}

.container3 {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.container3 h1 {
    color: black;
    font-size: 50px;
    font-weight: lighter;
    letter-spacing: 2px;
}

.container3 p {
    font-size: 18px;
    color: black;
    font-weight: 500;
    width: 55%;
    text-align: center;
}

.contact-us {
    display: grid;
    grid-template-columns: repeat(3, 270px);
    margin: 0 auto;
    width: 904px;
    gap: 50px;
    padding: 20px;
}

.contact-1 {
    margin: auto;
    padding: 20px;
    text-align: left;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.contact-1 h1 {
    color: #c9a496;
    font-size: 26px;
    font-weight: 550;
}

.contact-1 h2 {
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.contact-1 h3 {
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.container-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px;
    gap: 20px;
    align-items: start;
    padding: 30px;
    background-color: #f8ece7;
}

.text-left {
    flex-direction: column;
    width: 80%;
    display: flex;
    gap: 10px;
    margin: 0 auto;
    padding-top: 5em;
}

.text-left h1 {
    font-size: 33px;
    font-weight: 500;
}

.image-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    padding: 20px;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    top: 2em;
    right: 2em;
}

.circle-text {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.image-right img {
    max-width: 100%;
    height: auto;
}

.offer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.offer h3 {
    font-size: 32px;
    font-weight: 500;
}

.offer h2 span {
    font-size: 17px;
}

.offer h2 {
    font-size: 35px;
    font-weight: 500;
}

.offer p {
    font-size: 16px;
    font-weight: 5em;
    font-weight: 600;
}

.image-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    padding: 20px;
}

.image-left img {
    max-width: 100%;
    height: auto;
}

.offer-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.offer-left h3 {
    font-size: 32px;
    font-weight: 500;
}

.offer-left h2 span {
    font-size: 17px;
}

.offer-left h2 {
    font-size: 35px;
    font-weight: 500;
}

.offer-left p {
    font-size: 16px;
    font-weight: 5em;
    font-weight: 600;
}

.imagerightt {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.imageleftt {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
}

.circle-1 {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    top: 2em;
    right: 2em;
}

.circle-text-1 {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.subscription-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8ece7;
    padding: 40px 60px;
    border-radius: 8px;
    text-align: center;
    flex-direction: column;
}

.subscription-container h1 {
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 400;
    color: #333;
}

.subscription-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(61, 49, 49);
    width: 70%;
    margin: 0 auto;
}

.subscription-container input[type="email"] {
    padding: 20px;
    font-size: 16px;
    border: none;
    width: 513px;
}

.subscription-container button {
    padding: 18px -1px;
    font-size: 16px;
    background-color: #d19b88;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.subscription-container button:hover {
    background-color: #c0846b;
}

.email.box {
    height: 380px;
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* padding: 30px; */
    gap: 34px;
    align-content: center;
    justify-content: center;
    border: none;
}

.carsten {
    background-color: #a06b59;
    height: 35px;
}

.carsten p {
    text-align: center;
    color: white;
    font-size: 19px;
    padding: 5px;
}

.footer {
    background-color: #a97962;
    color: white;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 6em 0em;
}

.footer h3 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
}


.footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: white;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.footer-section {
    grid-column: span 1;
    display: flex;
    grid-column: span 1;
    flex-direction: column;
    gap: 15px;
}

.footer-bottom {
    font-size: 16px;
    font-weight: 500;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
    background-color: #a06b59;
}

.footer-bottom p {
    color: white;
}

.footer-logo {
    grid-column: span 1;
    margin: auto;
}

.payment-logos {
    display: flex;
    flex-direction: row;
}

.payment-logos img {
    width: 180px;
    margin: 0 5px;
    vertical-align: middle;
}

@media only screen and (min-width: 300px) and (max-width: 575px) {

 
    .navbar {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px 0 10px 10px;
        justify-content: space-between;


    }

    .navbar-center {
        order: 1;
    }

    .navbar-links {
        order: 3;
        width: 100%;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 0.7rem;
        height: 0;
        overflow: hidden;
        padding: 0;
    }

    .ham-icon {
        display: block;
        order: 2;
    }
    i.fa-solid.fa-x {
        display: none;
    }

    .fa-x,
    .fa-bars {
        color: black;
        font-size: 1.7rem;
    }
    .navbar:has(input[type="checkbox"]:checked) .navbar-links {
        margin-top: 1rem;
        height: 270px;
    }

    .navbar:has(input[type="checkbox"]:checked) .fa-bars {
        display: none;
    }

    .navbar:has(input[type="checkbox"]:checked) .fa-x {
        display: inline-block;
    }
    .hero-image {
        max-width: 100%;
    }

    .container h1 {
        font-size: 50px;
    }

    .container p {
        font-size: 14px;
    }

    .reservation-form {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .circle-button {
        width: 80px;
        height: 80px;
        font-size: 14px;
    }

    .image-grid {
        grid-template-columns: 1fr;
    }

    .image-grid-1 {
        grid-template-columns: 1fr;
    }

    .image-grid-1 img {
        width: 85%;
    }

    .container2 h1 {
        font-size: 40px;
    }

    .grid-container {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .container3 h1 {
        font-size: 33px;
    }

    .container3 p {
        font-size: 14px;
        width: 100%;
    }

    .text-left {
        flex-direction: column;
        width: 80%;
        display: flex;
        gap: 10px;
        margin: 0 auto;
    }

    .offer h3 {
        font-size: 30px;
        font-weight: 500;
    }

    .subscription-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f8ece7;
        padding: 40px 60px;
        border-radius: 8px;
        text-align: center;
        flex-direction: column;
    }

    .email.box {
        height: 327px;
        width: 98%;
        background-color: white;
        display: flex;
        flex-direction: column;
        /* padding: 30px; */
        gap: 34px;
        align-content: center;
        justify-content: center;
        border: none;
    }

    .subscription-container {
        display: none;
    }

    .contact-us {
        grid-template-columns: 1fr;
        gap: 20px;
        width: auto;
    }
    .contact-1 {
        margin: 0 auto;
        padding: 20px;
        text-align: left;
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .contact-1 h1 {
        font-size: 20px;
        margin: 0 auto;
    }

    .contact-1 h2,
    .contact-1 h3 {
        font-size: 16px;
        margin: 0 auto;
    }

    .container-4 {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
    }

    .image-container h1 {
        font-size: 19px;
    }

    .footer-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        max-width: 1200px;
        margin: 0 auto;
        padding: 3em;
    }

    .slash {
        display: none;
    }

    .footer-logo img {
        margin: 0 auto;
        display: flex;
        max-width: 75%;
    }

    .footer-bottom {
        font-size: 16px;
        font-weight: 500;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 2em;
        background-color: #a06b59;
    }

    .footer-section {
        grid-column: span 1;
        display: flex;
        grid-column: span 1;
        flex-direction: column;
        gap: 15px;
        margin: 0 auto;
    }

    .footer h3 {
        font-size: 25px;
        margin-bottom: 10px;
        font-weight: 500;
        margin: 0 auto;
    }

    .footer ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 18px;
        margin: 0 auto;
    }

    .footer ul li {
        margin: 0 auto;
    }

    .payment-logos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .room-description {
        width: 80%;
        font-size: 18px;
    }

    .image-caption button {
        width: 50%;
    }

    .container h1 {
        font-size: 40px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .navbar-links {
        gap: 20px;
        font-size: 18px;
    }

    .hero-image {
        max-width: 100%;
    }

    .container h1 {
        font-size: 50px;
    }

    .container p {
        font-size: 15px;
    }

    .reservation-form {
        gap: 10px;
    }

    .circle-button {
        width: 80px;
        height: 80px;
        font-size: 14px;
    }

    .image-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .image-wrapper p {
        font-size: 16px;
    }

    .container2 h1 {
        font-size: 50px;
    }

    .grid-container {
        gap: 9px;
    }

    .h2.number {
        font-size: 3em;
    }

    .slash {
        display: flex;
        flex-direction: row;
        font-size: 9em;
        margin: auto;
        color: #926c5ed2;
    }

    .image-grid-1 {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .image-container img {
        width: 90%;
    }

    .image-container h1 {
        font-size: 25px;
    }

    .room-description {
        width: 75%;
        font-size: 18px;
    }

    button {
        width: 23%;
        font-size: 12px;
    }

    .container3 h1 {
        font-size: 40px;
    }

    .container3 p {
        font-size: 16px;
        width: 70%;
    }

    .contact-us {
        grid-template-columns: 2fr 2fr 2fr;
        width: 100%;
        gap: 30px;
    }

    .email.box {
        height: 380px;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 34px;
        align-content: center;
        justify-content: center;
        border: none;
    }

    .container-4 {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .navbar-links {
        gap: 25px;
        font-size: 20px;
    }

    .hero-image {
        max-width: 100%;
    }

    .container h1 {
        font-size: 60px;
    }

    .container p {
        font-size: 17px;
    }

    .reservation-form {
        gap: 15px;
    }

    .circle-button {
        width: 90px;
        height: 90px;
        font-size: 16px;
    }

    .image-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .image-wrapper p {
        font-size: 18px;
    }

    .container2 h1 {
        font-size: 60px;
    }

    .grid-container {
        gap: 15px;
    }

    .slash {
        display: flex;
        flex-direction: row;
        font-size: 11em;
        margin: auto;
        color: #926c5ed2;
    }

    .h2.number {
        font-size: 3.5em;
    }

    .image-container img {
        width: 95%;
    }

    .image-grid-1 {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .image-container h1 {
        font-size: 40px;
    }

    .room-description {
        width: 80%;
        font-size: 20px;
    }

    button {
        width: 20%;
        font-size: 14px;
    }

    .container3 h1 {
        font-size: 45px;
    }

    .container3 p {
        font-size: 18px;
        width: 75%;
    }

    .contact-us {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 35px;
    }

    .contact-us {
        grid-template-columns: 2fr 2fr 2fr;
        width: 100%;
        gap: 30px;
    }

    .contact-1 h2 {
        font-size: 17px;
        font-weight: 500;
        color: black;
    }

    .email.box {
        height: 380px;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 34px;
        align-content: center;
        justify-content: center;
        border: none;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .navbar-links {
        gap: 30px;
        font-size: 22px;
    }

    .hero-image {
        max-width: 100%;
    }

    .container h1 {
        font-size: 65px;
    }

    .container p {
        font-size: 18px;
    }

    .circle-button {
        width: 100px;
        height: 100px;
        font-size: 18px;
    }

    .image-container img {
        width: 95%;
    }

    .image-container h1 {
        font-size: 29px;
        font-weight: 400;
        margin-bottom: 10px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .room-description {
        width: 85%;
        text-align: center;
        margin: 0 auto;
        font-size: 23px;
    }

    .email.box {
        height: 380px;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 34px;
        align-content: center;
        justify-content: center;
        border: none;
    }
}